DoodleWPF/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54563/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54563/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54563/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DoodleModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetDoodleUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoodleUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDoodleUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoodleUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GatherOpenDraws_InputMessage">
    <wsdl:part name="parameters" element="tns:GatherOpenDraws" />
  </wsdl:message>
  <wsdl:message name="IService1_GatherOpenDraws_OutputMessage">
    <wsdl:part name="parameters" element="tns:GatherOpenDrawsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckGuess_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckGuess" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckGuess_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckGuessResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_JoinDraw_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinDraw" />
  </wsdl:message>
  <wsdl:message name="IService1_JoinDraw_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinDrawResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetWinner_InputMessage">
    <wsdl:part name="parameters" element="tns:SetWinner" />
  </wsdl:message>
  <wsdl:message name="IService1_SetWinner_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetWinnerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateDraw_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDraw" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateDraw_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDrawResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_StartDraw_InputMessage">
    <wsdl:part name="parameters" element="tns:StartDraw" />
  </wsdl:message>
  <wsdl:message name="IService1_StartDraw_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartDrawResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDrawCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDrawCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDrawCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDrawCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EndDraw_InputMessage">
    <wsdl:part name="parameters" element="tns:EndDraw" />
  </wsdl:message>
  <wsdl:message name="IService1_EndDraw_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndDrawResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetDoodleUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDoodleUser" message="tns:IService1_GetDoodleUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDoodleUserResponse" message="tns:IService1_GetDoodleUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddUser" message="tns:IService1_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddUserResponse" message="tns:IService1_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllUsers" message="tns:IService1_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllUsersResponse" message="tns:IService1_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GatherOpenDraws">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GatherOpenDraws" message="tns:IService1_GatherOpenDraws_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GatherOpenDrawsResponse" message="tns:IService1_GatherOpenDraws_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckGuess">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckGuess" message="tns:IService1_CheckGuess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckGuessResponse" message="tns:IService1_CheckGuess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinDraw">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/JoinDraw" message="tns:IService1_JoinDraw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/JoinDrawResponse" message="tns:IService1_JoinDraw_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetWinner">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetWinner" message="tns:IService1_SetWinner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetWinnerResponse" message="tns:IService1_SetWinner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDraw">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateDraw" message="tns:IService1_CreateDraw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateDrawResponse" message="tns:IService1_CreateDraw_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartDraw">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StartDraw" message="tns:IService1_StartDraw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StartDrawResponse" message="tns:IService1_StartDraw_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDrawCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDrawCategories" message="tns:IService1_GetDrawCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDrawCategoriesResponse" message="tns:IService1_GetDrawCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndDraw">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EndDraw" message="tns:IService1_EndDraw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EndDrawResponse" message="tns:IService1_EndDraw_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDoodleUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDoodleUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IService1/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GatherOpenDraws">
      <soap:operation soapAction="http://tempuri.org/IService1/GatherOpenDraws" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckGuess">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckGuess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinDraw">
      <soap:operation soapAction="http://tempuri.org/IService1/JoinDraw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetWinner">
      <soap:operation soapAction="http://tempuri.org/IService1/SetWinner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDraw">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateDraw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartDraw">
      <soap:operation soapAction="http://tempuri.org/IService1/StartDraw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDrawCategories">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDrawCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndDraw">
      <soap:operation soapAction="http://tempuri.org/IService1/EndDraw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:54563/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>