DoodleWPF/Connected Services/ServiceReference1/Service131.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DoodleModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DoodleModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTO_Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_Users" nillable="true" type="tns:DTO_Users" />
  <xs:complexType name="ArrayOfDTO_Users">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTO_Users" nillable="true" type="tns:DTO_Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTO_Users" nillable="true" type="tns:ArrayOfDTO_Users" />
  <xs:complexType name="DTO_Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:float" />
      <xs:element minOccurs="0" name="Longitude" type="xs:float" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_Login" nillable="true" type="tns:DTO_Login" />
  <xs:complexType name="ArrayOfDTO_OpenDraws">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTO_OpenDraws" nillable="true" type="tns:DTO_OpenDraws" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTO_OpenDraws" nillable="true" type="tns:ArrayOfDTO_OpenDraws" />
  <xs:complexType name="DTO_OpenDraws">
    <xs:sequence>
      <xs:element minOccurs="0" name="Doodler" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DrawCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DrawID" type="xs:int" />
      <xs:element minOccurs="0" name="DrawStatusDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_OpenDraws" nillable="true" type="tns:DTO_OpenDraws" />
  <xs:complexType name="DTO_Guess">
    <xs:sequence>
      <xs:element minOccurs="0" name="DrawID" type="xs:int" />
      <xs:element minOccurs="0" name="Guess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCorrect" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_Guess" nillable="true" type="tns:DTO_Guess" />
  <xs:complexType name="DTO_JoinDraw">
    <xs:sequence>
      <xs:element minOccurs="0" name="DrawID" type="xs:int" />
      <xs:element minOccurs="0" name="NoodlerID" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_JoinDraw" nillable="true" type="tns:DTO_JoinDraw" />
  <xs:complexType name="DTO_Winner">
    <xs:sequence>
      <xs:element minOccurs="0" name="NoodlerID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_Winner" nillable="true" type="tns:DTO_Winner" />
  <xs:complexType name="DTO_NewDraw">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoodlerID" type="xs:int" />
      <xs:element minOccurs="0" name="DrawCategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_NewDraw" nillable="true" type="tns:DTO_NewDraw" />
  <xs:complexType name="ArrayOfDTO_GameCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTO_GameCategory" nillable="true" type="tns:DTO_GameCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTO_GameCategory" nillable="true" type="tns:ArrayOfDTO_GameCategory" />
  <xs:complexType name="DTO_GameCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_GameCategory" nillable="true" type="tns:DTO_GameCategory" />
  <xs:complexType name="DTO_DrawID">
    <xs:sequence>
      <xs:element minOccurs="0" name="DrawID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_DrawID" nillable="true" type="tns:DTO_DrawID" />
  <xs:complexType name="DTO_DrawPoints">
    <xs:sequence>
      <xs:element minOccurs="0" name="DrawID" type="xs:int" />
      <xs:element minOccurs="0" name="DrawPointID" type="xs:int" />
      <xs:element minOccurs="0" name="DrawPointX" type="xs:double" />
      <xs:element minOccurs="0" name="DrawPointX2" type="xs:double" />
      <xs:element minOccurs="0" name="DrawPointY" type="xs:double" />
      <xs:element minOccurs="0" name="DrawPointY2" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_DrawPoints" nillable="true" type="tns:DTO_DrawPoints" />
  <xs:complexType name="ArrayOfDTO_DrawPoints">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTO_DrawPoints" nillable="true" type="tns:DTO_DrawPoints" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTO_DrawPoints" nillable="true" type="tns:ArrayOfDTO_DrawPoints" />
  <xs:complexType name="DTO_LineCount">
    <xs:sequence>
      <xs:element minOccurs="0" name="lineCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_LineCount" nillable="true" type="tns:DTO_LineCount" />
</xs:schema>